@{
    ViewData["Title"] = "CreateList";
}

<h1>@ViewData["Title"]</h1>



@* *@
@* <body> *@
@* <div class="playlist"> *@
@*     <div class="song"> *@
@*         <input type="text" placeholder="Playlist Name"> *@
@*         <button class="btn btn-success">Add</button> *@
@*     </div> *@
@*     <ul class="song-list"> *@
@*         <!-- Example of a song in the list --> *@
@*         <li class="song-item"> *@
@*             <input type="checkbox" class="song-checkbox"> *@
@*             <span>Song Name 1</span> *@
@*         </li> *@
@*         <li class="song-item"> *@
@*             <input type="checkbox" class="song-checkbox"> *@
@*             <span>Song Name 2</span> *@
@*         </li> *@
@*         <li class="song-item"> *@
@*             <input type="checkbox" class="song-checkbox"> *@
@*             <span>Song Name 3</span> *@
@*         </li> *@
@*         <!-- You can add more songs here --> *@
@*     </ul> *@
@* </div> *@
@* *@
@* </body> *@




